@import '../../scss/index.scss';

#btn {
    text-transform: uppercase;
    width: 100%;
    border-radius: 50px;
    font-size: 17px;
    // padding: 20px 0;
    // margin: 30px 0px 0px 0px;
    // letter-spacing: 3px;
}

.connect {
    background-color: $background-light;

    p.title {
        font-size: 25px;
        margin: 15px 20px;
    }

    &__form {
        margin: 15px 20px;
        // padding-bottom: 50px;
    }
}