@import '../../scss/index.scss';


p.title {
    font-size: 25px;
    padding-top: 12px;
    a.btn-link {
        padding: 0px 8px;
        margin-right: 8px;
    }

    .bdd_name {
        color: $primary-color;
    }
}

.admin_page {
    margin-top: 15px;
    
    &__content {
        margin: 10px;
    }
}