$primary-color: #0865b1;
$primary-color-hocer: #0b76ce;

$font-light: #fff;
$font-grey: #c0c0c0;
$font-dark: #436bd8;

$background-primary: $primary-color;

$background-light: #fff;
$background-grey: #e0e0e0;
$background-grey-dark: #367cec;

$background-dark: #161615;

$background-menu: #f3f3f3;